/* line 5, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 37, ../../_compass/_layout.scss */
.row {
  overflow: hidden;
  *zoom: 1;
  margin-left: -45px;
  padding-bottom: 2em;
}
@media (max-width: 1140px) {
  /* line 37, ../../_compass/_layout.scss */
  .row {
    margin-left: -35px;
  }
}
@media (max-width: 880px) {
  /* line 37, ../../_compass/_layout.scss */
  .row {
    margin-left: 0px;
  }
}
@media (max-width: 680px) {
  /* line 37, ../../_compass/_layout.scss */
  .row {
    padding-bottom: 2em;
  }
}
/* line 52, ../../_compass/_layout.scss */
.row:first-child {
  padding-top: 2em;
}
@media (max-width: 680px) {
  /* line 52, ../../_compass/_layout.scss */
  .row:first-child {
    padding-top: 2em;
  }
}

/* line 61, ../../_compass/_layout.scss */
.subrow {
  overflow: hidden;
  *zoom: 1;
  margin-left: -45px;
}
@media (max-width: 1140px) {
  /* line 61, ../../_compass/_layout.scss */
  .subrow {
    margin-left: -35px;
  }
}
@media (max-width: 880px) {
  /* line 61, ../../_compass/_layout.scss */
  .subrow {
    margin-left: 0px;
  }
}

/* line 86, ../../_compass/_layout.scss */
.column-1 {
  float: left;
  margin-left: 45px;
  width: 250px;
}
@media (max-width: 1140px) {
  /* line 86, ../../_compass/_layout.scss */
  .column-1 {
    margin-left: 35px;
  }
}
@media (max-width: 880px) {
  /* line 86, ../../_compass/_layout.scss */
  .column-1 {
    margin-left: 0px;
  }
}
@media (max-width: 1140px) {
  /* line 86, ../../_compass/_layout.scss */
  .column-1 {
    width: 190px;
  }
}
@media (max-width: 880px) {
  /* line 86, ../../_compass/_layout.scss */
  .column-1 {
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 1.5em;
    width: 100%;
  }
  /* line 99, ../../_compass/_layout.scss */
  .column-1:last-child {
    margin-bottom: 0;
  }
}

/* line 86, ../../_compass/_layout.scss */
.column-2 {
  float: left;
  margin-left: 45px;
  width: 545px;
}
@media (max-width: 1140px) {
  /* line 86, ../../_compass/_layout.scss */
  .column-2 {
    margin-left: 35px;
  }
}
@media (max-width: 880px) {
  /* line 86, ../../_compass/_layout.scss */
  .column-2 {
    margin-left: 0px;
  }
}
@media (max-width: 1140px) {
  /* line 86, ../../_compass/_layout.scss */
  .column-2 {
    width: 415px;
  }
}
@media (max-width: 880px) {
  /* line 86, ../../_compass/_layout.scss */
  .column-2 {
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 1.5em;
    width: 100%;
  }
  /* line 99, ../../_compass/_layout.scss */
  .column-2:last-child {
    margin-bottom: 0;
  }
}

/* line 86, ../../_compass/_layout.scss */
.column-3 {
  float: left;
  margin-left: 45px;
  width: 840px;
}
@media (max-width: 1140px) {
  /* line 86, ../../_compass/_layout.scss */
  .column-3 {
    margin-left: 35px;
  }
}
@media (max-width: 880px) {
  /* line 86, ../../_compass/_layout.scss */
  .column-3 {
    margin-left: 0px;
  }
}
@media (max-width: 1140px) {
  /* line 86, ../../_compass/_layout.scss */
  .column-3 {
    width: 640px;
  }
}
@media (max-width: 880px) {
  /* line 86, ../../_compass/_layout.scss */
  .column-3 {
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 1.5em;
    width: 100%;
  }
  /* line 99, ../../_compass/_layout.scss */
  .column-3:last-child {
    margin-bottom: 0;
  }
}

/* line 86, ../../_compass/_layout.scss */
.column-4 {
  float: left;
  margin-left: 45px;
  width: 1135px;
}
@media (max-width: 1140px) {
  /* line 86, ../../_compass/_layout.scss */
  .column-4 {
    margin-left: 35px;
  }
}
@media (max-width: 880px) {
  /* line 86, ../../_compass/_layout.scss */
  .column-4 {
    margin-left: 0px;
  }
}
@media (max-width: 1140px) {
  /* line 86, ../../_compass/_layout.scss */
  .column-4 {
    width: 865px;
  }
}
@media (max-width: 880px) {
  /* line 86, ../../_compass/_layout.scss */
  .column-4 {
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 1.5em;
    width: 100%;
  }
  /* line 99, ../../_compass/_layout.scss */
  .column-4:last-child {
    margin-bottom: 0;
  }
}

/* line 107, ../../_compass/_layout.scss */
.offset-1 {
  margin-left: 340px;
}
@media (max-width: 1140px) {
  /* line 107, ../../_compass/_layout.scss */
  .offset-1 {
    margin-left: 260px;
  }
}
@media (max-width: 880px) {
  /* line 107, ../../_compass/_layout.scss */
  .offset-1 {
    margin-left: 0;
  }
}

/* line 107, ../../_compass/_layout.scss */
.offset-2 {
  margin-left: 635px;
}
@media (max-width: 1140px) {
  /* line 107, ../../_compass/_layout.scss */
  .offset-2 {
    margin-left: 485px;
  }
}
@media (max-width: 880px) {
  /* line 107, ../../_compass/_layout.scss */
  .offset-2 {
    margin-left: 0;
  }
}

/* line 107, ../../_compass/_layout.scss */
.offset-3 {
  margin-left: 930px;
}
@media (max-width: 1140px) {
  /* line 107, ../../_compass/_layout.scss */
  .offset-3 {
    margin-left: 710px;
  }
}
@media (max-width: 880px) {
  /* line 107, ../../_compass/_layout.scss */
  .offset-3 {
    margin-left: 0;
  }
}

/* line 124, ../../_compass/_layout.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1135px;
}
@media (max-width: 1140px) {
  /* line 124, ../../_compass/_layout.scss */
  .container {
    width: 865px;
  }
}
@media (max-width: 880px) {
  /* line 124, ../../_compass/_layout.scss */
  .container {
    width: auto;
    margin: 0 30px;
  }
}

/* line 1, ../../_compass/_syntax.scss */
.highlight .c {
  color: #999988;
  font-style: italic;
}

/* Comment */
/* line 2, ../../_compass/_syntax.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 3, ../../_compass/_syntax.scss */
.highlight .k {
  color: #C3B134;
}

/* Keyword */
/* Operator */
/* line 5, ../../_compass/_syntax.scss */
.highlight .cm {
  color: #999988;
}

/* Comment.Multiline */
/* line 6, ../../_compass/_syntax.scss */
.highlight .cp {
  color: #6b6b6b;
}

/* Comment.Preproc */
/* line 7, ../../_compass/_syntax.scss */
.highlight .c1 {
  color: #999988;
}

/* Comment.Single */
/* line 8, ../../_compass/_syntax.scss */
.highlight .cs {
  color: #6b6b6b;
}

/* Comment.Special */
/* line 9, ../../_compass/_syntax.scss */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 10, ../../_compass/_syntax.scss */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}

/* Generic.Deleted.Specific */
/* line 11, ../../_compass/_syntax.scss */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 12, ../../_compass/_syntax.scss */
.highlight .gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 13, ../../_compass/_syntax.scss */
.highlight .gh {
  color: #6b6b6b;
}

/* Generic.Heading */
/* line 14, ../../_compass/_syntax.scss */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 15, ../../_compass/_syntax.scss */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}

/* Generic.Inserted.Specific */
/* line 16, ../../_compass/_syntax.scss */
.highlight .go {
  color: #888888;
}

/* Generic.Output */
/* line 17, ../../_compass/_syntax.scss */
.highlight .gp {
  color: #555555;
}

/* Generic.Prompt */
/* Generic.Strong */
/* line 19, ../../_compass/_syntax.scss */
.highlight .gu {
  color: #aaaaaa;
}

/* Generic.Subheading */
/* line 20, ../../_compass/_syntax.scss */
.highlight .gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* line 25, ../../_compass/_syntax.scss */
.highlight .kt {
  color: #54B5F0;
}

/* Keyword.Type */
/* line 26, ../../_compass/_syntax.scss */
.highlight .m {
  color: #009999;
}

/* Literal.Number */
/* line 27, ../../_compass/_syntax.scss */
.highlight .s {
  color: #DF8329;
}

/* Literal.String */
/* line 28, ../../_compass/_syntax.scss */
.highlight .na {
  color: #008080;
}

/* Name.Attribute */
/* line 29, ../../_compass/_syntax.scss */
.highlight .nb {
  color: #DF8329;
}

/* Name.Builtin */
/* Name.Class */
/* line 31, ../../_compass/_syntax.scss */
.highlight .no {
  color: #008080;
}

/* Name.Constant */
/* line 32, ../../_compass/_syntax.scss */
.highlight .ni {
  color: #800080;
}

/* Name.Entity */
/* line 33, ../../_compass/_syntax.scss */
.highlight .ne {
  color: #4288D8;
}

/* Name.Exception */
/* Name.Function */
/* line 35, ../../_compass/_syntax.scss */
.highlight .nn {
  color: #555555;
}

/* Name.Namespace */
/* line 36, ../../_compass/_syntax.scss */
.highlight .nt {
  color: #000080;
}

/* Name.Tag */
/* line 37, ../../_compass/_syntax.scss */
.highlight .nv {
  color: #008080;
}

/* Name.Variable */
/* Operator.Word */
/* line 39, ../../_compass/_syntax.scss */
.highlight .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 40, ../../_compass/_syntax.scss */
.highlight .mf {
  color: #DF8329;
}

/* Literal.Number.Float */
/* line 41, ../../_compass/_syntax.scss */
.highlight .mh {
  color: #DF8329;
}

/* Literal.Number.Hex */
/* line 42, ../../_compass/_syntax.scss */
.highlight .mi {
  color: #DF8329;
}

/* Literal.Number.Integer */
/* line 43, ../../_compass/_syntax.scss */
.highlight .mo {
  color: #DF8329;
}

/* Literal.Number.Oct */
/* line 44, ../../_compass/_syntax.scss */
.highlight .sb {
  color: #DF8329;
}

/* Literal.String.Backtick */
/* line 45, ../../_compass/_syntax.scss */
.highlight .sc {
  color: #DF8329;
}

/* Literal.String.Char */
/* line 46, ../../_compass/_syntax.scss */
.highlight .sd {
  color: #DF8329;
}

/* Literal.String.Doc */
/* line 47, ../../_compass/_syntax.scss */
.highlight .s2 {
  color: #DF8329;
}

/* Literal.String.Double */
/* line 48, ../../_compass/_syntax.scss */
.highlight .se {
  color: #91602F;
}

/* Literal.String.Escape */
/* line 49, ../../_compass/_syntax.scss */
.highlight .sh {
  color: #DF8329;
}

/* Literal.String.Heredoc */
/* line 50, ../../_compass/_syntax.scss */
.highlight .si {
  color: #DF8329;
}

/* Literal.String.Interpol */
/* line 51, ../../_compass/_syntax.scss */
.highlight .sx {
  color: #DF8329;
}

/* Literal.String.Other */
/* line 52, ../../_compass/_syntax.scss */
.highlight .sr {
  color: #009926;
}

/* Literal.String.Regex */
/* line 53, ../../_compass/_syntax.scss */
.highlight .s1 {
  color: #CB6B1A;
}

/* Literal.String.Single */
/* line 54, ../../_compass/_syntax.scss */
.highlight .ss {
  color: #990073;
}

/* Literal.String.Symbol */
/* line 55, ../../_compass/_syntax.scss */
.highlight .bp {
  color: #6b6b6b;
}

/* Name.Builtin.Pseudo */
/* line 56, ../../_compass/_syntax.scss */
.highlight .vc {
  color: #008080;
}

/* Name.Variable.Class */
/* line 57, ../../_compass/_syntax.scss */
.highlight .vg {
  color: #008080;
}

/* Name.Variable.Global */
/* line 58, ../../_compass/_syntax.scss */
.highlight .vi {
  color: #008080;
}

/* Name.Variable.Instance */
/* line 59, ../../_compass/_syntax.scss */
.highlight .il {
  color: #009999;
}

/* Literal.Number.Integer.Long */
/* line 7, ../../_compass/screen.scss */
body {
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 1.4em;
}

/* line 13, ../../_compass/screen.scss */
body > header {
  background-color: #4391C8;
  color: #fff;
}
/* line 17, ../../_compass/screen.scss */
body > header a {
  color: #fff;
}
/* line 20, ../../_compass/screen.scss */
body > header a:visited {
  color: #fff;
}

/* line 26, ../../_compass/screen.scss */
body > footer {
  border-top: 1px solid #d8d8d8;
}

/* line 30, ../../_compass/screen.scss */
body > header h1 {
  font-weight: normal;
  font-size: 64px;
  line-height: 1em;
  text-transform: lowercase;
  margin: 0;
}

/* line 37, ../../_compass/screen.scss */
body > header p {
  margin: 12px 0 0 0;
}

/* line 40, ../../_compass/screen.scss */
body > header h1 span {
  font-weight: 100;
}

/* line 44, ../../_compass/screen.scss */
section h1 {
  font-family: 'Roboto Slab';
  font-size: 26px;
  font-weight: normal;
  line-height: 1.3em;
}

/* line 50, ../../_compass/screen.scss */
section section h1 {
  font-family: 'Roboto';
  font-size: 20px;
  border-left: none;
  padding: 0;
  margin-bottom: 16px;
}

/* line 58, ../../_compass/screen.scss */
ul.samples {
  list-style-type: none;
  padding: 0;
}
/* line 62, ../../_compass/screen.scss */
ul.samples li {
  margin-bottom: 24px;
}
/* line 66, ../../_compass/screen.scss */
ul.samples .tags li {
  margin-bottom: 2px;
}
/* line 70, ../../_compass/screen.scss */
ul.samples li h1 {
  font-family: 'Roboto';
  font-size: 14px;
  border-bottom: none;
  margin-bottom: 5px;
}
/* line 77, ../../_compass/screen.scss */
ul.samples li p {
  margin: 4px 0;
  font-size: 14px;
  color: #777;
}

/* line 84, ../../_compass/screen.scss */
.tags {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 89, ../../_compass/screen.scss */
.tags li {
  display: inline-block;
  padding: 2px 3px;
  margin: 0 2px 0 0;
  font-size: 13px;
  line-height: 1em;
  color: #587E28;
  border: 1px solid #587E28;
  border-radius: 3px;
}
/* line 99, ../../_compass/screen.scss */
.tags li.experimental {
  color: #d53e3e;
  border: 1px solid #d53e3e;
}

/* line 106, ../../_compass/screen.scss */
a {
  color: #3A6A8C;
  text-decoration: none;
}

/* line 111, ../../_compass/screen.scss */
code {
  font-family: 'Ubuntu Mono';
}

/* line 115, ../../_compass/screen.scss */
pre {
  tab-size: 2;
  -moz-tab-size: 2;
}

/* line 120, ../../_compass/screen.scss */
.codeblock {
  display: block;
  background-color: #2c2c2c;
  color: #fff;
  line-height: 19px;
  overflow-x: auto;
}
/* line 127, ../../_compass/screen.scss */
.codeblock .linenums {
  position: absolute;
  padding: 16px 8px 16px 12px;
  text-align: right;
  color: #6b6b6b;
  background-color: #2c2c2c;
  border-right: 1px solid #3f3f3f;
}
/* line 135, ../../_compass/screen.scss */
.codeblock .code {
  width: 100%;
  padding: 16px 16px 16px 48px;
}
/* line 139, ../../_compass/screen.scss */
.codeblock .code .codeline {
  display: inline-block;
  width: 100%;
}
/* line 143, ../../_compass/screen.scss */
.codeblock .code .codeline:before {
  content: "\200B";
}

/* line 150, ../../_compass/screen.scss */
a.lineref {
  border-bottom: 1px dotted #000;
  color: inherit;
}

/* line 155, ../../_compass/screen.scss */
p {
  margin-bottom: 1em;
}

/* line 159, ../../_compass/screen.scss */
em, i {
  font-style: italic;
}

/* line 163, ../../_compass/screen.scss */
strong, b {
  font-weight: bold;
}

/* line 167, ../../_compass/screen.scss */
ul, ol {
  padding-left: 1.5em;
  margin-bottom: 1em;
}

/* line 172, ../../_compass/screen.scss */
ul {
  list-style-type: disc;
}

/* line 176, ../../_compass/screen.scss */
ol {
  list-style-type: decimal;
}

/* line 181, ../../_compass/screen.scss */
.sample h2 {
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 12px;
  color: #666;
}
/* line 188, ../../_compass/screen.scss */
.sample .tags {
  margin-bottom: 13px;
}
/* line 192, ../../_compass/screen.scss */
.sample .contributors {
  padding: 0;
  margin-bottom: 14px;
}
/* line 196, ../../_compass/screen.scss */
.sample .contributors li {
  display: inline-block;
}
/* line 199, ../../_compass/screen.scss */
.sample .contributors li a img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
/* line 207, ../../_compass/screen.scss */
.sample .adsbygoogle {
  margin-top: 32px;
}
/* line 211, ../../_compass/screen.scss */
.sample .license {
  margin: 1em 0;
  color: #666;
}

/* line 218, ../../_compass/screen.scss */
.about img {
  float: left;
  margin-right: 16px;
  width: 70px;
}
/* line 224, ../../_compass/screen.scss */
.about p {
  margin-top: 16px;
  text-transform: uppercase;
  font-size: 12px;
  color: #666;
}
/* line 230, ../../_compass/screen.scss */
.about p a {
  display: block;
  font-size: 17px;
  text-transform: none;
}

/* line 239, ../../_compass/screen.scss */
.featured .codeblock {
  max-height: 190px;
  overflow: hidden;
  position: relative;
}
/* line 244, ../../_compass/screen.scss */
.featured .codeblock .linenums {
  margin: 0;
  display: none;
}
/* line 249, ../../_compass/screen.scss */
.featured .codeblock .code {
  padding-left: 24px;
}
/* line 253, ../../_compass/screen.scss */
.featured .codeblock:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 190px;
  background-color: transparent;
  background: -webkit-linear-gradient(rgba(44, 44, 44, 0) 80%, #2c2c2c 98%);
  background-image: -moz-linear-gradient(rgba(44, 44, 44, 0) 80%, #2c2c2c 98%);
  background-image: -o-linear-gradient(rgba(44, 44, 44, 0) 80%, #2c2c2c 98%);
  background-image: linear-gradient(rgba(44, 44, 44, 0) 80%, #2c2c2c 98%);
  background-image: -ms-linear-gradient(rgba(44, 44, 44, 0) 80%, #2c2c2c 98%);
}
/* line 268, ../../_compass/screen.scss */
.featured .lineref {
  border: none;
  cursor: default;
}
